@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
/*Variables*/
:root{
    --cyan: hsl(180, 66%, 49%);
    --cyan-hover: #98e4e4;
    --dark-violet: hsl(257, 27%, 26%);
    --red: hsl(0, 87%, 67%);
    --gray: hsl(0, 0%, 75%);
    --grayish-violet: hsl(257, 7%, 63%);
    --very-dark-blue: hsl(255, 11%, 22%);
    --very-dark-violet: hsl(260, 8%, 14%);
    --white: #fff;

    --font-family-poppins: 'Poppins';
    --font-weight-500: 500;
    --font-weight-700: 700;
}

/*reset default properties and values*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body{
    overflow-x: hidden;
    font-family: var(--font-family-poppins);
    font-weight: var(--font-weight-500);
    font-size: 18px;
}
.container{
    padding: 50px 25px;
}
.top-body{
    background-color:var(--white);
}
.bottom-body{
    background-color: #eef1f6;
}
a{    
    text-decoration: none;
}
p{
    margin: 25px 0 45px 0;
}
a,p{
    color: var(--gray);
}
ul{
    list-style-type: none;
}
.green-round-btn,
.green-square-btn{
    background-color: var(--cyan);
    border: none;
    color: var(--white);
    height: 50px;
    text-align: center;
    padding: 10px;
}
.green-round-btn{    
    border-radius: 50rem;
    padding: 15px 30px;
}
.green-square-btn{
    border-radius: 10px;
}
.green-round-btn:hover,
.green-square-btn:hover{
    color: var(--white);
    background-color: var(--cyan-hover);
}
.square-input{
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
.error-msg{
    color: var(--red);
    font-size: 13px;
}
/*white boxes*/
.result-url, .statistic-box{
    background-color: var(--white);
    border-radius: 5px;
}
/*Lines*/
.horizontal-line, .vertical-line{
    display: none;
}
.horizontal-line{
    border-bottom: 5px solid var(--cyan);
    width: 55%;
}
.vertical-line{
    border-left: 5px solid var(--cyan);
    height: 800px;
}
/*-------------------------------------------------------*/
/*mobile*/
/*-------------------------------------------------------*/
/* ~~~~MENU NAVBAR~~~~ */
.menu{
    display: flex;
    flex-wrap:wrap;    
    justify-content: space-between;
    align-items: center;
}
.menu li{
    padding: 20px 0; 
}
.menu li a{
    color: var(--white);
    display: block;
}
.toggle{
    order: 1;
    cursor: pointer;
}
.toggle>img{   
    width: 25px;
}
.item{
    order: 2;
    background-color: var(--dark-violet);
    display: none;
    text-align: center;
    width: 100%;
}
.active{
    display: block;
}
.item.login{
    border-top: 1px solid var(--gray);
}
.item>.green-round-btn{
    text-align: center;
    width: 90%;
    margin: auto;
}

/*-------------------------------------------------------*/
/* ~~~~INTRO~~~~ */
.intro {
    text-align: center;
    height: 750px;
}
.header-top-right>img {
    margin-bottom: 25px ;
    width: 510px;
}
.header-top-right>a{
    margin-bottom: 50px;
}
/*-------------------------------------------------------*/
/* ~~~~MAIN~~~~ */
main{
    position: relative;
    bottom: 150px;
}
.convert-url{
    background-image: url(/images/bg-shorten-mobile.svg);
    background-color: var( --dark-violet);
    background-repeat: no-repeat;    
    background-position: right;
    background-position-y: 0;
    padding: 50px 0;
    /* height: 185px; */
    /* text-align: center; */
}
.url-top-left> input{
    margin: auto;
    display: block;
    width: 90%;
    
}
.url-top-left> i{
  margin-left: 25px;
  display: none;
}
.url-bottom-right > a{
    display: block;
    width: 90%;
    margin: 20px auto auto;
}
/*MAIN RESULT*/
.result-url{
    /* display: grid; */
    display: none;
    margin: 20px auto;  
}
.result-url> h4{
    height: 65px;
    padding: 20px;
}
.result-url>button{
    margin: auto 20px 15px;
}
.link-original{
    border-bottom: 1px solid var(--grayish-violet);
}
.link-result{
    color: var(--cyan);
}
/*-------------------------------------------------------*/
/* ~~~~ASIDE - STATISTICS~~~~ */
.statistics{
    padding: 10px;
    text-align: center;    
}
.statistics > p{
    color: var(--grayish-violet);
}
/* ~~~~STATISTICS - types ~~~~ */
.types-statistics{
    display:flex;
    flex-wrap: wrap;
    z-index: 1;
    position: relative;
}
.types-statistics > div{
    flex: 1 1 290px;
}
.statistic-box{
    margin: 50px auto;
    padding: 20px;
}
.statistic-box > .img-bg{
    background-color: var(--dark-violet);
    border-radius: 100%;
    padding: 15px;
    width: 75px;
    height: 70px;
    position: relative;
    bottom: 50px;
    text-align: center;
}
.vertical-line{
    display: block;
    position: absolute;
    top: 90rem;
    left: 50%;
    z-index: 1;
}
/*-------------------------------------------------------*/
/* ~~~~Section - Booster ~~~~ */
.booster{
 background-image: url(/images/bg-boost-mobile.svg);
 background-repeat: no-repeat;
 background-size: cover;
 background-color:var( --dark-violet);
 height: 300px; 
 text-align: center;
}
.booster > h1{
    display: block;
    padding: 90px 0 30px;
    color: var(--white);
}
/*-------------------------------------------------------*/
/* ~~~~Footer ~~~~ */
footer{
    background-color: var(--very-dark-violet);
    color: var(--white);
    text-align: center;
}
.logo-footer{
    filter: invert(100%) sepia(100%) saturate(0) hue-rotate(86deg) brightness(118%) contrast(119%);
}
.footer{
    font-weight: var(--font-weight-500);
    display: grid;
    padding-bottom: 40px;
}
.footer>div{
    margin-top: 50px;
}
.type-items-footer >h5{
    font-size: 18px;
}
.item-footer{
    color: var(--gray);
    font-size: 14px;
    padding: 5px 0;
}
.footer-social-media>img{
    margin: 0 10px;
}
.item-footer:hover{
    color: var(--cyan-hover)!important;
}
.footer-social-media>img:hover{
    filter: invert(77%) sepia(5%) saturate(6542%) hue-rotate(168deg) brightness(415%) contrast(56%);
}
/*-------------------------------------------------------*/
/*desktop*/
/*-------------------------------------------------------*/
@media all and (min-width: 820px){
    .container{
        padding: 50px 160px;
    } 
    /* ~~~~MENU NAVBAR~~~~ */
    .menu{
        display: grid;
        grid-template-columns: repeat(9, 1fr);    
    }
   .item{
        background-color: var(--white);
        display:block;
        width: auto;  
   }
   .item>a:not(.button>a):hover{
        color: var(--dark-violet) !important;
    }
   .menu li a:not(.menu li .green-round-btn){
        color: var(--gray);
   }
   .toggle{
       display: none;
   }
   .item>.green-round-btn{
        width: 150px;
    }
    .item.login{
        border-top: 0px;
    }
    .menu >.login{
        grid-column: 8/9;
    }
    
    /* ~~~~INTRO~~~~ */
    .intro{
        display: grid;
        height: 400px;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 60px;        
    }
    .header-bottom-left{
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: left;
    }
    .header-top-right{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .header-top-right>img{
        position: absolute;
    }

    /* ~~~~MAIN~~~~ */
    main{
        bottom: 120px;
    }
    .convert-url> div{
       display: inline-block;
    }
    .url-top-left{
        width: 70%;      
        display: inline;
    }
    .url-bottom-right {
        width: 25%;    
        display: inline;     
    }
    .url-bottom-right > a{
        margin: auto;
    }
    /*MAIN RESULT*/
    .result-url{        
        grid-template-columns: repeat(4, auto);       
    }
    .link-original{
        border-bottom: none;
        grid-column: 1/3;
    }
    .link-result{
        grid-column: 3/4;
        text-align: right;
    }
    .result-url>button{
        grid-column: 4/5;
        margin: auto 20px;
        width: 50%;
        justify-self: end;
    }
    /* ~~~~ASIDE - STATISTICS~~~~ */
    .statistics{
        margin: auto;
        width:50%;
    }
    /* ~~~~STATISTICS - types ~~~~ */
    .statistic-box{
        margin: 30px;
    }
    .box-2{
        margin-top: 75px;
    }
    .box-3{
        margin-top: 125px;
    }
    .vertical-line{
        display: none;
    }
    .horizontal-line{
        display: block;
        position: absolute;
        top: 1240px;
        left: 252px;
    }
    /* ~~~~SECTION - booster ~~~~ */
    .booster{
        background-image: url(/images/bg-boost-desktop.svg);
    }
    /* ~~~~FOOTER~~~~ */
    .footer{
        grid-template-columns: repeat(6, 1fr);
        width: 90%;
    }
    .footer-logo{
        grid-column: 1/3;
    }
    .footer-features{
        grid-column: 3/4;
    }
    .footer-resources{
        grid-column: 4/5;
    }
    .footer-company{
        grid-column: 5/6;
    }
    .footer-social-media{
        grid-column: 6/7;
    }
}

/*-------------------------------------------------------*/
/*Tablet*/
/*-------------------------------------------------------*/
@media all and (min-width: 819px) and (max-width:1035px){
    .types-statistics > div{
        flex: 1 1 350px;
    }
    .horizontal-line{
        display: none;
    }
    .vertical-line{
        display: block;
        top: 70rem;
    }
}
@media all and (max-width: 819px){
    .types-statistics > div{
        flex: 1 1 450px;
    }
    .horizontal-line{
        display: none;
    }
    .vertical-line{
        display: block;
        top: 90rem;
    }
}